body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
  position: relative;
}

header {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header h1 {
  margin: 0px;
  height: 250px;
  background-color: #f4afab;
  display: flex;
  text-align: center;
  align-items: center;
}

.nav {
  position: sticky;
  margin-bottom: 0;
  top: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #fed9b7;
}

.introduction p {
  margin: 0px;
  padding: 20px 40px;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  font-size: 20px;
  background-color: #00afb9;
  color: white;
}

#title {
  width: 100%;
  color: white;
  font-variant: small-caps;
  font-size: 80px;
}

ul {
  padding-top: 20px;
  padding-left: 0px;
  font-size: 20px;
  line-height: 1;
}

li {
  display: inline;
}

li b {
  padding: 20px;
  font-size: 27px;
}

.navItem {
  margin: 15px;
  padding: 10px 8px 5px 8px;
  display: inline-block;
}

.navItem:hover {
  background-color: #f4afab;
  border-radius: 25px;
}

.navItem:button {
}

.content {
  margin: 50px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  display: inline-block;
  padding: 8px;
}

.footer {
  background-color: #fed9b7;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer div {
}

a {
  text-decoration: none;
  color: black;
}
