body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
  width: 100vw;
  position: relative;
}

header {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header h1 {
  margin: 0px;
  height: 150px;
  box-sizing: border-box;
  font-size: 70px;
  background-color: #0081a7;
  display: flex;
  text-align: center;
  align-items: center;
}

header p {
  margin: 0px;
  height: 130px;
  padding: 20px 40px;
  display: flex;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  font-size: 20px;
  background-color: #00afb9;
  color: white;
}

#title {
  width: 100%;
  color: white;
}

.big {
  display: flex;
}

.nav {
  padding: 20px;
  height: 100vh;
  width: 280px;
  position: sticky;
  top: 0px;
  background-color: #fed9b7;
}

ul {
  padding-left: 10px;
  font-size: 20px;
}

li {
  padding: 5px 0px;
}

/* .nav :hover {
  color: #f07167;
} */

.content {
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

/* .footer {
  display: flex-end;
} */
